s3: &s3
  access_key_id: AKIAILGXATYAF2CU6C6A
  secret_access_key: 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
  bucket: MP3Player
facebook: &fb_local
  app_id: 268821136633495
  app_secret: e79acf66e6ff9d90dd35991f009a6b62
development:
  secret_key_base: 0b017c1bbe181c3115a7fecc752afa3fb55b428e2dfc81756f864f2f7dcbc97b0c47b6adca89014cae0535aa6eed42b4fc7ce9c9359bbc60cbbef7388af6bc05
  facebook: *fb_local
  s3: *s3
test:
  secret_key_base: 50e927240f226b89b12967f3cdf2d30db2057b9553a74af031a0ad5f6c882944a4a5154e2945cfad33a61e3193857b43d878e6c8b137f57d510e3d9c6410a893
  facebook: *fb_local
  s3: *s3
production:
  secret_key_base: fe236a5ed7c8f5b8392cf931462f66862ab62b292e7add7d5fef1b48589239db022640eef7447268cbf677da55f37a0402533671a94713be43b7f41120228428
  facebook:
    app_id: 624194507656793
    app_secret: c46652a2ba0d28ddb03c07636aec1759
  s3: *s3
