.mp3-player
  = link_to mp3_upload.mp3_file_name, mp3_upload.mp3.url
  = link_to "x", mp3_upload_path(mp3_upload), method: :delete, data:{confirm: t('.delete_confirmation', file_name: mp3_upload.mp3_file_name)}
  %audio{controls: 'controls'}
    %source{src: "#{mp3_upload.mp3.url}", type:"audio/mpeg"}
    = t('.browser_no_support')
